# Week 3-1

In [77]:
!pip install lxml
import pandas as pd

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)

### Import wiki into dataframe

In [81]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
toronto=pd.read_html(url)[0]

###  Ignore cells with a borough that is Not assigned.

In [82]:
toronto=toronto[toronto.Borough != 'Not assigned']

### Ignore cells with a Neighbourhood that is Not assigned

In [83]:
toronto['Neighbourhood']=toronto['Neighbourhood'].replace('Not assigned', toronto['Borough'])
toronto

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

### Combine rows with same Postcode

In [85]:
toronto=toronto.groupby('Postcode')['Neighbourhood'].apply(','.join)
toronto= toronto.to_frame()
toronto

                                              Neighbourhood
Postcode
M1B                                           Rouge,Malvern
M1C                    Highland Creek,Rouge Hill,Port Union
M1E                         Guildwood,Morningside,West Hill
M1G                                                  Woburn
M1H                                               Cedarbrae
...                                                     ...
M9N                                                  Weston
M9P                                               Westmount
M9R       Kingsview Village,Martin Grove Gardens,Richvie...
M9V       Albion Gardens,Beaumond Heights,Humbergate,Jam...
M9W                                               Northwest

[103 rows x 1 columns]

In [86]:
toronto.shape

(103, 1)